@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased;
  }
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
  }
  .spoiler {
    background: #334155;
    border-radius: 2px;
    cursor: pointer;
    filter: blur(4px);
    transition: filter 0.2s;
  }
  .spoiler:hover,
  .spoiler:focus {
    filter: none;
  }
}
