# Production database connection
PROD_DB_HOST=144.126.203.139
PROD_DB_PORT=5432
PROD_DB_NAME=alpha_meta_token_scanner
PROD_DB_USER=user
PROD_DB_PASSWORD=your_prod_password_here

# Development database connection (local Docker)
DEV_DB_HOST=localhost
DEV_DB_PORT=5432
DEV_DB_NAME=alpha_meta_token_scanner
DEV_DB_USER=user
DEV_DB_PASSWORD=your_dev_password_here
